<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<dom-module id="about-view">
  <template>
    <style>
      .spanStyle {        
        font-weight: bolder;
        font-size: 20px;
      }
      .redColor {
        color : red;
      }
      .greenColor {
        color : green;
      }
      .orangeColor {
        color : orange;
      }
    </style>
    
    <px-card id="myCard" header-text="Device Status">
      <template is="dom-if" if="{{temp}}">
      Temperature : <span id="tempSpan" class$="{{getClasses()}}">[[temp]]</span>
      </template>
    </px-card>    
    <iron-ajax id="aboutContentAjaxEl"></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'about-view',
      properties: {},
      ready: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/api/v1/temperature";

        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          that.temp = evt.detail.response;          
        });
        this.$.aboutContentAjaxEl.generateRequest();
      },
      getClasses: function () {
        var spanStyle = 'spanStyle';
        var tempNum = parseInt(this.temp, 10);
        console.log('color color');
        console.log(tempNum);
        if(tempNum < 55){
          spanStyle += ' greenColor';
        }else if (tempNum > 65){
          spanStyle += ' redColor';
        }else {
          spanStyle += ' orangeColor';
        }
        console.log("here here");
        console.log(spanStyle);
        return spanStyle;
      }
    });
  </script>
</dom-module>
