
<link rel="import" href="../../bower_components/px-card/px-card.html">

<link rel="import" href="../../bower_components/px-vis-xy-chart/px-vis-xy-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/nvd3-elements/nvd3-multi-bar.html">
<link rel="import" href="../../bower_components/nvd3-elements/nvd3-line.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<!-- <link rel="import" href="temp-view.html"> -->
<!-- <link rel="import" href="pump-performance-view.html"> -->
<dom-module id="advisory-view">
<template>
<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
<style>
:host {
display: block;
}
.vertical-text{
  max-width: 8px;
  transform: rotate(270deg);
  transform-origin: left top 0;
  position: relative;
  top: 180px;
}
.warning {
  color: orange;
  list-style-type: disc;
  font-size: 25px;
}
.danger {
  color: red;
  list-style-type: disc;
  font-size: 25px;
}
.kpi{
  width: 20%;
  text-transform: uppercase;

  padding : 20px;
}
.kpiHeader {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.kpiContent {
  color: white;
  font-size: 18px;
  /* color: #FF8000; */
}
.kpiUnits{
  margin-left: 5px;
  font-size: 10px;
  color:white;
  font-weight: bold;
}
.alertListLi {
  list-style-type: disc;
  font-size: 25px;
}
.alertSpan{
  color : white;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -3px;
}
.kpiStatusRed {
  height: 14px;
    margin-right: 5px;
    width: 3px;
    background-color: red;
    display: inline-block;
}
.kpiStatusGreen {
  height: 14px;
    margin-right: 5px;
    width: 3px;
    background-color: red;
    display: inline-block;
}
#dropdownDiv {
max-width: 200px;
}
#row1{
display:flex;
flex-direction:row;
justify-content: space-around;
}
#column1{
display:flex;
flex-direction:column;
}
#column2{
display:flex;
flex-direction:column;
}
#column3{
display:flex;
flex-direction:column;
}
#column4{
display:flex;
flex-direction:column;
}
.flex-row {
display:flex;
flex-direction:row;
justify-content: space-around;
width : 50%;
}
.flex-col {
display:flex;
flex-direction:column;
min-width: 45%;
margin : 10px;
}
.spanStyle {
font-weight: bolder;
font-size: 20px;
}
.redColor {
color : red;
}
.greenColor {
color : green;
}
.orangeColor {
color : orange;
}
.overview-header{
float:left;
width:200px;
}
.nav {
		background-color: #e2e8ed;
		padding:10px;
		height:30px;
	}
	.nav .right{
		width:93%;
		float:left;
	}
	.nav .left{
		width:7%;
		float:left;
	}

  .nav1 {
  		background-color: #1b2a33;
  		padding:10px;
  		height:30px;
  	}
  	.nav1 .right{
  		width:93%;
  		float:left;
      color: white;
      font-size: 20px;
  	}
  	.nav1 .left{
  		width:7%;
  		float:left;
  	}

	.search{
		width:40px;
		float:left;
	}
	.user{
		width:40px;
		float:left;
	}
	.highcharts-credits{
	display:none;
	}
.home{
		width:85px;
		float:left;
		vertical-align:middle;
	}
  .dashboard{
  		width:115px;
  		float:left;
  		vertical-align:middle;
      margin-top: 2px;
  	}
	.alert{
		width:100px;
		float:left;
		vertical-align:middle;
	}
	.performance{
		width:150px;
		float:left;
		vertical-align:middle;
	}
	img {
	vertical-align:middle;
	}
	.home-link {
		text-decoration:none;
	}
	a:visited {
		color: #000;
	}
	.alert{
		width:100px;
		float:left;
		vertical-align:middle;
	}
	#close {
       cursor: pointer;
       float:right;
       display:inline-block;
       padding:3px 5px;
       background:#ccc;
       margin-left: 20px;
   }

   .popoverid{
     max-width: 400px;
     --px-popover-max-width: 400px;
     height:250px;
     padding: 0px;
   }
   .alert {
     cursor: pointer;
   }
   .close-button {
     position: relative;
       right: -15px;
       top: -15px;
   }
	.custom-size {
          --iron-icon-width: 25px;
          --iron-icon-height: 25px;
		  color:#000;
        }
		.menutext{
			margin-left:5px;
			position:absolute;
			top:20px;
		}
#alertCount {
	font-size: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 3px;
    top: 15px;
    position: absolute;
	  text-align: center;
    color: #fff;
	background:red;

   }
</style>
<template>
  <iron-ajax id="armstrongAssetAjaxEl" url="/api/v1/asset"></iron-ajax>
    <iron-ajax id="armstrongKPIAjaxEl" on-response="handleResponse"></iron-ajax>
    <iron-ajax id="armstrongKPIAjaxFirstEl" url="/api/v1/latestdetails?tagId=Condenser_Water_Pump_001"></iron-ajax>
    <iron-ajax id="armstrongKPIAjaxSecondEl" url="/api/v1/latestdetails?tagId=Condenser_Water_Pump_002"></iron-ajax>
    <iron-ajax id="armstrongKPIAjaxThirdEl" url="/api/v1/latestdetails?tagId=Condenser_Water_Pump_003"></iron-ajax>
    <iron-ajax id="gridViewId" url="/api/v1/gridviewdata"></iron-ajax>

</template>
<div class="layout horizontal">
  <div style="width:100%;">

<div id="advsioryElement" style="position:absolute; top:-10px; right:950px; width:500px; "></div>
    <px-popover class="popoverid" id = "pop" for="advsioryElement" orientation="bottom" style="left: 0px" enhanced>

      <span id="close" class="close-button" on-click="close">x</span>

          <div id="column2j" class = "main-content">

            <template is="dom-if" if="{{!showFlow}}">
          <p id="para" class="pump-name-adv">Low Discharge Flow</p>
            </template>
			<template is="dom-if" if="{{!showCurrent}}">
          <p id="para" class="pump-name-adv">Current Over-speed</p>
            </template>

            <template is="dom-if" if="{{!showSpeed}}">
          <p id="para" class="pump-name-adv">Pump Over-speed</p>
            </template>
            <template is="dom-if" if="{{showSpeed}}">
          <p id="para" class="pump-name-adv">Pump Under-speed</p>
            </template>
            <template is="dom-if" if="{{!showPressure}}">
          <p id="para" class="pump-name-adv">Pressure is more</p>
            </template>
            <template is="dom-if" if="{{showPressure}}">
          <p id="para" class="pump-name-adv">Pressure is less</p>
            </template>
<p id="noAlerts" class="pump-name">No Alerts</p>
          </div>

         <!-- <armstrong-asset-list datapoints="{{assetList}}"></armstrong-asset-list> -->
    </px-popover>

    <div class="nav">
  			<div class='right'>
  				<div class='home'><a href='/#/boilerAnalytics' on-click="_refresh" class='home-link'><px-icon class="custom-size" icon="px-fea:home"></px-icon><span class='menutext'>Home</span></a></div>

  			</div>
  		</div>

    <div class="nav1">
  			<div class='right'>
          {{advisoryId}}
  			</div>
  		</div>
      <div style="color: white; margin-left:10px;">Remaining Useful life: {{criticalElementSecond}}</div>

 <div id="column2" >

	  <div id="column2flowcontainerHighcharts" style="min-width: 700px; height: 400px; margin: 0 auto"></div>
	 </div>
    <div id="column3" >

	  <div id="column3flowcontainerHighcharts" style="min-width: 700px; height: 400px; margin: 0 auto"></div>
	 </div>
	  <div id="column4" >

	  <div id="column4flowcontainerHighcharts" style="min-width: 700px; height: 400px; margin: 0 auto"></div>
	 </div>
  <px-card id="secondCard" chevron>
      <!--  <px-vis-timeseries
       debounce-resize-timing="250"
       width="700"
       height="290.5"
       chart-horizontal-alignment="center"
       chart-vertical-alignment="center"
       margin='{"top":20,"bottom":35,"left":65,"right":65}'
       tooltip-config='{}'
       register-config='{"type":"horizontal"}'
       selection-type="xy"
       chart-data='{{advisoryData}}'
       series-config='{"y0":{"name":"Flow","x":"timeStamp","y":"y1","yAxisUnit":"usgpm","axis":{"id":"axis1","side":"left","number":"1"}},
       "y1":{"name":"Head","x":"timeStamp","y":"y4","yAxisUnit":"ft","axis":{"id":"axis2","side":"left","number":"2"}},
       "y2":{"name":"Speed","x":"timeStamp","y":"y2","yAxisUnit":"%","axis":{"id":"axis3","side":"left","number":"3"}}}'
       chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
       event-data='{{forecastPutDate}}'
         event-config='{"Forecast":{"color":"blue","icon":"px-fea:deployments","type":"fa","offset":[0,0],"lineColor":"red","lineWeight":3.5}}'
       x-axis-config='{"title":"Time (Min)"}'
       y-axis-config='{"title":"Single","titleTruncation":false,"unit":"F","axis1":{"title":"Flow","titleTruncation":false,"unit":"usgpm"},"axis2":{"title":"Head","titleTruncation":false,"unit":"ft"}, "axis3":{"title":"Speed","titleTruncation":false,"unit":"%"}}'
       navigator-config='{"xAxisConfig":{"tickFormat":"%b %d"}}'>
     </px-vis-timeseries> -->



       <!-- <px-vis-xy-chart
                debounce-resize-timing="250"
                width="700"
                height="311.5"
                chart-horizontal-alignment="center"
                chart-vertical-alignment="center"
                margin='{"top":30,"bottom":60,"left":75,"right":20}'
                tooltip-config='{"forceDateTimeDisplay":false}'
                register-config='{"type":"horizontal","forceDateTimeDisplay":false}'
                selection-type="xy"
                chart-data="{{flowspeedData}}"
                series-config='{"firstSerie":{"type":"line","name":"FlowVsSpeed","xAxisUnit":"usgpm","yAxisUnit":"%","x":"x","y":"y","axis":{"id":"axis1","number":1,"side":"left"}}}'
                chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
                x-axis-config='{"title":"Flow","labelPosition":"center","orientation":"bottom"}'
                y-axis-config='{"title":"Speed","labelPosition":"center","orientation":"left"}'>
                        </px-vis-xy-chart>  -->
     <div id="column3">

      <!-- <px-vis-timeseries
       debounce-resize-timing="250"
       width="700"
       height="290.5"
       chart-horizontal-alignment="center"
       chart-vertical-alignment="center"
       margin='{"top":20,"bottom":35,"left":65,"right":65}'
       tooltip-config='{}'
       register-config='{"type":"horizontal"}'
       selection-type="xy"
       chart-data='{{advisoryData}}'
       series-config='{"y0":{"name":"Power","x":"timeStamp","y":"y3","yAxisUnit":"KW","axis":{"id":"axis1","side":"left","number":"1"}}}'
       chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
      x-axis-config='{"title":"Time (Min)"}'
       y-axis-config='{"title":"Single","titleTruncation":false,"unit":"F","axis1":{"title":"Power","titleTruncation":false,"unit":"KW"}}'
       navigator-config='{"xAxisConfig":{"tickFormat":"%b %d"}}'>
     </px-vis-timeseries> -->
       <!-- <px-vis-xy-chart
                debounce-resize-timing="250"
                width="700"
                height="311.5"
                chart-horizontal-alignment="center"
                chart-vertical-alignment="center"
                margin='{"top":30,"bottom":60,"left":75,"right":20}'
                tooltip-config='{"forceDateTimeDisplay":false}'
                register-config='{"type":"horizontal","forceDateTimeDisplay":false}'
                selection-type="xy"
                chart-data="{{flowspeedData}}"
                series-config='{"firstSerie":{"type":"line","name":"FlowVsSpeed","xAxisUnit":"usgpm","yAxisUnit":"%","x":"x","y":"y","axis":{"id":"axis1","number":1,"side":"left"}}}'
                chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
                x-axis-config='{"title":"Flow","labelPosition":"center","orientation":"bottom"}'
                y-axis-config='{"title":"Speed","labelPosition":"center","orientation":"left"}'>
                        </px-vis-xy-chart>  -->
     </div>

     <div id="column4y">
       <!-- <px-vis-timeseries
       debounce-resize-timing="250"
       width="700"
       height="290.5"
       chart-horizontal-alignment="center"
       chart-vertical-alignment="center"
       margin='{"top":20,"bottom":35,"left":65,"right":65}'
       tooltip-config='{}'
       register-config='{"type":"horizontal"}'
       selection-type="xy"
       chart-data='{{advisoryData}}'
       series-config='{"y0":{"name":"Speed","x":"timeStamp","y":"y2","yAxisUnit":"%","axis":{"id":"axis1","side":"left","number":"1"}}}'
       chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
       x-axis-config='{"title":"Time (Min)"}'
       y-axis-config='{"title":"Single","titleTruncation":false,"unit":"F","axis1":{"title":"Speed","titleTruncation":false,"unit":"%"}}'
       navigator-config='{"xAxisConfig":{"tickFormat":"%b %d"}}'>
     </px-vis-timeseries>-->
       <!-- <px-vis-xy-chart
                debounce-resize-timing="250"
                width="700"
                height="311.5"
                chart-horizontal-alignment="center"
                chart-vertical-alignment="center"
                margin='{"top":30,"bottom":60,"left":75,"right":20}'
                tooltip-config='{"forceDateTimeDisplay":false}'
                register-config='{"type":"horizontal","forceDateTimeDisplay":false}'
                selection-type="xy"
                chart-data="{{flowspeedData}}"
                series-config='{"firstSerie":{"type":"line","name":"FlowVsSpeed","xAxisUnit":"usgpm","yAxisUnit":"%","x":"x","y":"y","axis":{"id":"axis1","number":1,"side":"left"}}}'
                chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
                x-axis-config='{"title":"Flow","labelPosition":"center","orientation":"bottom"}'
                y-axis-config='{"title":"Speed","labelPosition":"center","orientation":"left"}'>
                        </px-vis-xy-chart>  -->


	  </div>
 </px-card>

<iron-ajax id="aboutContentAjaxEl"></iron-ajax>
    <iron-ajax id="pumpEfficiencyAjaxEl"></iron-ajax>
    <iron-ajax id="advisoryAjaxEl"></iron-ajax>
  </div>
</div>
</template>
<script>
Polymer({
  is: 'advisory-view',
  properties: {
  chartdata:{type:Array},
		yo:{type:Array},
        y1:{type:Array},
        y2:{type:Array},
        y3:{type:Array},
		y4:{type:Array},
        xaxis:{type:Array},
		selected: {
          type : Object
        },
        firstCard : {
          type : Object
        },
        secondCard : {
          type : Object
        },
        thirdCard : {
          type : Object
        },
        icon: {
          type: String
        },
        icon1: {
          type: Object
        //  value: 'https://storage.googleapis.com/support-kms-prod/SNP_2752125_en_v0' // Red
        },
        icon2: {
          type: Object
          //value: 'https://storage.googleapis.com/support-kms-prod/SNP_2752063_en_v0'  // yellow
        },
        icon3: {
          type: Object
        //  value: 'https://storage.googleapis.com/support-kms-prod/SNP_2752129_en_v0'  // green
        },
           pressure: {
             type: String
           },
           speed: {
             type: String
           },
           flow: {
             type: String
           },
              pressure1: {
                type: String
              },
              speed1: {
                type: String
              },
              flow1: {
                type: String
              },
                 pressure2: {
                   type: String
                 },
                 speed2: {
                   type: String
                 },
                 flow2: {
                   type: String
                 },
    selectedRange: {
      type: Object
    },
    energySelectedRange: {
      type: Object
    },
    assetName : {
      type : String,
      value : ''
    },
    assetId : {
      type : String,
      value : ''
    },
    advisoryId: {
      type: String,
      value: ''
    },
    LoadData : {
      type : Array
    },
    showFlow: {
      type: Boolean
    },
    showSpeed: {
      type: Boolean
    },
    showPressure: {
      type: Boolean
    },
	showGraph: {
		type: Boolean
	},
    seriesCustomConfig: {
      type: String
    },
    yCustomConfig: {
      type: String
    },
	advisoryData:{
		type:Array,
		reflectToAttribute: true,
		notify:true,
		value:[]
	},
	showCurrent: {
      type: Boolean
    }
  },
  _refresh: function () {
    window.location.reload(true);
  },
  advisoryClicked: function(){
    console.log("advisory clciked");
     // this.mapsOn = null;
  //  this.$.armstrongAssetAjaxEl.generateRequest();
    //this.$.armstrongKPIAjaxEl.url="/api/v1/latestdetails?tagId=Condenser_Water_Pump_001";
   //this.$.armstrongKPIAjaxEl.generateRequest();
    document.getElementById('advsioryElement').click();
  //  document.getElementById('pop').show();
  //  document.getElementById('pop1').hide();
    //document.getElementById('pop2').hide();

    //this.$.modalId.click();
  },
  close: function(){
    console.log('it comes here');
    document.getElementById('pop').hide();
  },
  _getDefaultRange: function(months) {
    var from;
    var to;
    /*if(months){
      from = '2017-06-01T03:38:22.242Z';
      to = '2017-06-14T03:38:22.242Z';
    }else{
      from = '2017-06-01T03:38:22.242Z';
      to = '2017-07-14T03:38:22.242Z';
    }*/
    from = moment().subtract(months, 'weeks');
    to = moment();

    return {"from":from.toISOString(),"to":to.toISOString()};
  },
  _getNarrowRange: function(months) {
    var from;
    var to;
    /*if(months){
      from = '2017-06-03T03:38:22.242Z';
      to = '2017-06-03T03:58:22.242Z';
    }else{
      from = '2017-06-03T03:38:22.242Z';
      to = '2017-06-04T03:58:22.242Z';
    }    */
    from = moment().subtract(months, 'minutes');
    to = moment();
    return {"from":from.toISOString(),"to":to.toISOString()};
  },
  _getWideRange: function(months) {
    var from;
    var to;
    /*if(months){
      from = '2017-06-03T03:38:22.242Z';
      to = '2017-06-03T03:58:22.242Z';
    }else{
      from = '2017-06-03T03:38:22.242Z';
      to = '2017-06-04T03:58:22.242Z';
    }    */
    from = moment().subtract(months, 'months');
    to = moment();
    return {"from":from.toISOString(),"to":to.toISOString()};
  },
  _setEnergyTimes: function(){
    this.energyStartTime = new Date(this.energySelectedRange.from).getTime();
    this.energyEndTime = new Date(this.energySelectedRange.to).getTime();
  },
  _setLoadTimes: function(){
    this.loadStartTime = new Date(this.selectedRange.from).getTime();
    this.loadEndTime = new Date(this.selectedRange.to).getTime();
  },
  _setGravityTimes: function(){
    this.gravityStartTime = new Date(this.selectedGravityRange.from).getTime();
    this.gravityEndTime = new Date(this.selectedGravityRange.to).getTime();
  },
  _setFlowspeedTimes: function(){
    this.flowspeedStartTime = new Date(this.flowspeedSelectedRange.from).getTime();
    this.flowspeedEndTime = new Date(this.flowspeedSelectedRange.to).getTime();
  },
  _setPeTimes: function(){
    this.peStartTime = new Date(this.peSelectedRange.from).getTime();
    this.peEndTime = new Date(this.peSelectedRange.to).getTime();
  },
  getClasses: function () {
    var spanStyle = 'spanStyle';
    var tempNum = parseInt(this.kpiObject.Speed, 10);
    if(tempNum < 55){
      spanStyle += ' greenColor';
    }else if (tempNum > 65){
      spanStyle += ' redColor';
    }else {
      spanStyle += ' orangeColor';
    }
    return spanStyle;
  },
  attached: function attached() {

        },
      convertTimeStamp : function(timestamp) {
		var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
				  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];

			var date = new Date(timestamp);
			var h = 0;
			var m = 0;
			var s = 0;
			var month,year,day;
			var month = date.getMonth()+1;
			var year = date.getFullYear();
			var day = date.getDate();
			if (date.getHours() < 10)
				h = '0' + date.getHours();
			else
				h = date.getHours();
			if (date.getMinutes() < 10)
				m = '0' + date.getMinutes();
			else
				m = date.getMinutes();
			if (date.getSeconds() < 10)
				s = '0' + date.getSeconds();
			else
				s = date.getSeconds();

			var hours  = date.getHours();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12;
			//var dateString = hours +" "+ampm;
			var dateString = monthShortNames[date.getMonth()] + " "+day + "-"+hours +" "+ampm;
			return dateString;
		},
  ready: function() {

	var that = this;

    console.log('Advisory Id'+document.getElementById('advisoryId').value);
    this.advisoryId = document.getElementById('advisoryId').value;
	/*this.showGraph = true;
	var arr= ["Check for looseness of phase windings","Check for high mechanical overload","Check for inductance for all 3 phases","Check insulation quality","Sudden Speed decreased Check the governor system"];
	if(arr.indexOf(this.advisoryId)>-1){
		this.showGraph = false;
	}*/
    this.assetName = document.getElementById('contextName').value;
    this.assetId = document.getElementById('contextId').value;
    this.selectedRange = this._getDefaultRange(2);
    this.energySelectedRange = this._getWideRange(4);
    this.selectedGravityRange = this._getDefaultRange(2);
    this.flowspeedSelectedRange = this._getDefaultRange(1);
    this.peSelectedRange = this._getNarrowRange(30);
    this._setLoadTimes();
    this._setEnergyTimes();
    this._setGravityTimes();
    this._setFlowspeedTimes();
    this._setPeTimes();
    this.LoadData = [];
    this.barData = [[0,0],[1,7],[2,1],[3,6],[4,8],[5,6]];
    var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
    ];

    that.effChartData = [];
    //that.advisoryData = [];
    //this.dayWeek = '0'//this.$.dayWeekId.displayValue;
    this.gravityVal = 'GravityX';
    this.isLive = false;

    that.$.pumpEfficiencyAjaxEl.url = "/api/v1/pumpefficiency?tagId="+that.assetId+"&startTime="+that.peStartTime+"&endTime="+that.peEndTime;
    that.$.advisoryAjaxEl.url = "/api/v1/predictiveanalytic?tagId="+that.assetId;

    this.$.aboutContentAjaxEl.url = "/api/v1/latestdetails?tagId="+that.assetId;

    this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
      that.kpiObject = evt.detail.response;
      that.alertList = [];
      that.kpiStatus = {};
      that.showAdvisory = {};
      //that.flowDiffValue;
      //that.speedDiffValue;
      //that.pressureDiffValue;
      that.alertList.push({'status':'warning','message':'Check Pump operation (Pump may tend to cavitate).'});
      that.alertList.push({'status':'danger','message':'Check the pump discharge pressure.'});
      that.alertList.push({'status':'warning','message':'High motor temperature'});
      that.kpiObject.Flow = parseFloat(that.kpiObject.Flow).toFixed(2);
      var flowVal = that.kpiObject.Flow;
      //var flowVal = parseFloat(300);
      var currentVal = parseFloat(that.kpiObject.Current);
      var speedVal = parseFloat(that.kpiObject.Speed);
      //var speedVal = 100;
      //var pressureVal = 2;
      var pressureVal = parseFloat(that.kpiObject.Pressure);
      var powerVal = parseFloat(that.kpiObject.Power);
      var maxFlowVal = 1000;
      var minFlowVal = 220;
      var maxCurrentVal = 20;
      var minCurrentVal = 5;
      var maxSpeedVal = 98;
      var maxPressureValue = 22;
      var minPressureValue = 5;
      var maxPowerValue = 18;
      //if(flowVal > 1000 || flowVal<220){
        if(flowVal<800) {
            that.alertList.push({'status': 'danger', 'message': 'Carbon Emmission higher than limit.'});
            if (flowVal < 510) {
                /*if(flowVal > 1000) {
          that.flowDiffValue = flowVal - 1000;
          that.showAdvisory.flowmore = true;
        }
        if(flowVal<510){
          //that.flowDiffValue = 220 - flowVal;
          that.kpiStatus.flowless = true;
        }*/
                that.alertList.push({'status': 'danger', 'message': 'Flow below threshold.'});
                //this.showFlow = false;
                that.showFlow = false;
                that.kpiStatus.flow = false;
            }/*else if(flowVal > 850 || flowVal < 350){
        that.alertList.push({'status':'warning','message':'Flow requires attention'});
        that.kpiStatus.flow = true;
      }*/ else {
                //this.showFlow = true;
                that.showFlow = true;
                that.kpiStatus.flow = true;
            }
            if (currentVal >= 20 || currentVal <= 5) {
                that.showCurrent = false;
                that.kpiStatus.current = false;
            } else {
                that.showCurrent = true;
                that.kpiStatus.current = true;
            }
            if (speedVal >= 87 || speedVal <= 27) {
                if (speedVal >= 87) {

                    //this.showSpeed = false;
                    that.showSpeed = false;
                }
                if (speedVal <= 27) {

                    //this.showSpeed = true;
                    that.showSpeed = true;
                }

                that.kpiStatus.speed = false;
            } else {
                that.kpiStatus.speed = true;
            }
            if (pressureVal >= 22 || pressureVal <= 5) {
                if (pressureVal >= 22) {
                    //that.pressureDiffValue = pressureVal - 22;

                    //this.showPressure = false;
                    that.showPressure = false;
                }
                if (pressureVal <= 5) {
                    //  that.pressureDiffValue = 5 - pressureVal;

                    //this.showPressure = true;
                    that.showPressure = true;
                }
                that.kpiStatus.pressure = false;
            } else {
                that.kpiStatus.pressure = true;
            }
            if (powerVal >= 18) {
                that.kpiStatus.power = false;
            } else {
                that.kpiStatus.power = true;
            }
            var alertCount = 0;
            // document.getElementById('noAlerts').style.display = 'none';
            setTimeout(function () {
                alertCount = document.querySelectorAll('.pump-name-adv').length;
                if (alertCount > 0) {
                    //document.getElementById('alertCount').style.display = 'block';
                    document.getElementById('noAlerts').style.display = 'none';
                    document.getElementById('alertCount').innerHTML = alertCount;
                } else {
                    document.getElementById('noAlerts').style.display = 'block';
                    // document.getElementById('alertCount').style.display = 'none';
                }
            }, 2000);
        }
        });


    this.$.pumpEfficiencyAjaxEl.addEventListener('response', function(evt) {
      //console.log(evt.detail.response);
      that.effChartData = evt.detail.response;
    });

    this.$.advisoryAjaxEl.addEventListener('response', function(evt) {
	
      var advArray = [];
      var custArray = [];
      var issues;
      var probValue;
      //console.log('advisory 1 is'+evt.detail.response.results["Advisory1"]);
      //console.log('advisory 1 second is'+evt.detail.response.results.Advisory1);
      //console.log('results is'+evt.detail.response.results);
      var advResponse =  evt.detail.response.results;
      console.log('Advisory id this '+this.advisoryId);
      //console.log('Advisory id that'+that.advisoryId);

      var i;
      var k;
      var m;
      var reqData1
      var advisoryData1 = [];
      var advisoryCheckData1;
      var advisoryData2 = [];
      var advisoryCheckData2;
      var advisoryData3 =[];
      var advisoryCheckData3;
      var criticalElement;
      var criticalElementFirst;
      var criticalElementSecond;

            reqData1 = advResponse[4].Data;
            var forecastDate = advResponse[5].ForecastStartTime;
            that.forecastPutDate = [{"id":"123","time": forecastDate,"label":"Forecast"}];
            console.log(that.forecastPutDate);
            advisoryData1 = advResponse[0].Advisory1[0];
            advisoryData2= advResponse[1].Advisory2[0];
            advisoryData3 = advResponse[2].Advisory3[0];

            /*reqData1 = [
                {
                    "x": 1504920080092,
                    "y1": 238.3048465994217,
                    "y2": 29.45590150294591,
                    "y3": 2.788717562568399,
                    "y4": 58.39037676646411
                },
                {
                    "x": 1504920380092,
                    "y1": 468.36825978466607,
                    "y2": 31.916455876576833,
                    "y3": 5.7766392461582585,
                    "y4": 65.0064349894596
                },
                {
                    "x": 1504920680092,
                    "y1": 589.5585894217329,
                    "y2": 27.223245989495013,
                    "y3": 5.061220149565957,
                    "y4": 64.72586384640903
                },
                {
                    "x": 1504920980092,
                    "y1": 349.95264060895664,
                    "y2": 25.60608132536091,
                    "y3": 3.043693293659019,
                    "y4": 59.318365312686474
                }
              ];*/

            for (k= 0; k < reqData1.length; k++){
            //console.log(reqData1[k]['x']);
            reqData1[k].timeStamp = new Date(reqData1[k]['x']);
            reqData1[k].y1 = parseFloat(reqData1[k]['y1'].toFixed(4));   // Flow
            reqData1[k].y2 = parseFloat(reqData1[k]['y2'].toFixed(4));   // Speed
            reqData1[k].y3 = parseFloat(reqData1[k]['y3'].toFixed(4));   // Power
          //  reqData1[k].y2 = parseFloat(reqData1[k]['y3'].toFixed(4));
            reqData1[k].y4 = parseFloat(reqData1[k]['y4'].toFixed(4));   // Head
            }
	that.advisoryData = [];
    that.advisoryData = reqData1;



       that.y1s = [];
        that.y2s = [];
        that.y3s = [];
        that.yos = [];
        that.xaxis = [];
        var startDots = 0;
        for(i=0; i<that.advisoryData.length;i++){
		//console.log(that.advisoryData[i].x);
        	that.y1s.push(that.advisoryData[i].y1);
        	that.y2s.push(that.advisoryData[i].y2);
        	that.y3s.push(that.advisoryData[i].y3);
        	that.yos.push(that.advisoryData[i].y4);
			if(startDots==0){
				if( (new Date().getTime() - that.advisoryData[i].x) < 0 ){
					startDots = i;
				}
			}
        	/*if(forecastDate == that.advisoryData[i].x){
				startDots = i;
			}*/
        	//that.xaxis.push(that.convertTimeStamp(that.advisoryData[i].x));

        	that.xaxis.push(that.advisoryData[i].x);
        }
        that.yo = that.yos.map(parseFloat);
        that.y1 = that.y1s.map(parseFloat);
        that.y2 = that.y2s.map(parseFloat);
        that.y3 = that.y3s.map(parseFloat);


    for (i=0; i< advisoryData1.length; i++){
      if(that.advisoryId == advisoryData1[i]){
        //console.log('It is first advisory');
        criticalElement = advResponse[0].Advisory1[2];
        criticalElementFirst = criticalElement.Critical_Element;
        that.criticalElementSecond = criticalElement.Value+" min";
        document.getElementById("column2").style.display = "block";
        document.getElementById("column3").style.display = "none";
        document.getElementById("column4").style.display = "none";
		new Highcharts.Chart(that.$.column2flowcontainerHighcharts, {
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: 'Speed Flow Head'
    },
    xAxis: [{
        type: 'datetime',
        categories: that.xaxis,
			labels: {
				formatter: function() {
					return that.convertTimeStamp(this.value);
				}
			}
		}],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value}'
        },
        title: {
            text: 'Flow [usgpm]'
        }
    },{ // Tertiary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Head [ft]'
        },
        labels: {
            format: '{value}'
        }
    }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Speed [%]'
        },
        labels: {
            format: '{value}'
        }

    } ],
    tooltip: {
        shared: true,
		formatter: function() {
            console.log(this)
            var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
				  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];

			var date = new Date(this.points[0].x);
			var h = 0;
			var m = 0;
			var s = 0;
			var month = date.getMonth()+1;
			var year = date.getFullYear();
			var day = date.getDate();

			if (date.getMinutes() < 10){
				m = '0' + date.getMinutes();}
			else{
				m = date.getMinutes();}
			if (date.getSeconds() < 10){
				s = '0' + date.getSeconds();}
			else{
				s = date.getSeconds();}

			var hours  = date.getHours();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12;

			return monthShortNames[date.getMonth()] + " "+day + "-"+hours +":"+m+":"+s+" "+ampm+",Speed: "+this.points[0].y+", Flow: "+this.points[1].y+", Head: "+this.points[2].y;
        }
    },
    series: [{
        name: 'Speed',
        type: 'line',
		zoneAxis: 'x',
		yAxis: 2,
        data: that.y2,
		zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
    }, {
        name: 'Flow',
        type: 'line',

		zoneAxis: 'x',
		data: that.y1,
       zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]

    }, {
        name: 'Head',
        type: 'line',
		zoneAxis: 'x',
		yAxis: 1,
        data: that.yo,
		 zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
    }]
});

		//that.seriesCustomConfig = '{"y0":{"name":"Flow","x":"timeStamp","y":"y1","yAxisUnit":"usgpm","axis":{"id":"axis1","side":"left","number":"1"}},"y1":{"name":"Head","x":"timeStamp","y":"y4","yAxisUnit":"ft","axis":{"id":"axis2","side":"left","number":"2"}},"y2":{"name":"Speed","x":"timeStamp","y":"y2","yAxisUnit":"%","axis":{"id":"axis3","side":"left","number":"3"}}}';
        //that.yCustomConfig = '{"title":"Single","titleTruncation":false,"unit":"F","axis1":{"title":"Flow","titleTruncation":false,"unit":"usgpm"},"axis2":{"title":"Head","titleTruncation":false,"unit":"ft"}, "axis3":{"title":"Speed","titleTruncation":false,"unit":"%"}}';
      }
      }
	  var advisory1DataInner = advisoryData1[2];
	  for (i=0; i< advisory1DataInner.length; i++){
      if(that.advisoryId == advisory1DataInner[i]){
	  criticalElement = advResponse[0].Advisory1[2];
        criticalElementFirst = criticalElement.Critical_Element;
        that.criticalElementSecond = criticalElement.Value+" min";
        document.getElementById("column2").style.display = "block";
        document.getElementById("column3").style.display = "none";
        document.getElementById("column4").style.display = "none";
new Highcharts.Chart(that.$.column2flowcontainerHighcharts, {
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: 'Speed Flow Head'
    },
    xAxis: [{
        type: 'datetime',
        categories: that.xaxis,
		labels: {
				formatter: function() {
					return that.convertTimeStamp(this.value);
				}
			}
		}],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value}'
        },
        title: {
            text: 'Flow [usgpm]'
        }
    },{ // Tertiary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Head [ft]'
        },
        labels: {
            format: '{value}'
        }
    }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Speed [%]'
        },
        labels: {
            format: '{value}'
        }

    } ],
    tooltip: {
        shared: true,
		formatter: function() {
            console.log(this)
            var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
				  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];

			var date = new Date(this.points[0].x);
			var h = 0;
			var m = 0;
			var s = 0;
			var month = date.getMonth()+1;
			var year = date.getFullYear();
			var day = date.getDate();

			if (date.getMinutes() < 10){
				m = '0' + date.getMinutes();}
			else{
				m = date.getMinutes();}
			if (date.getSeconds() < 10){
				s = '0' + date.getSeconds();}
			else{
				s = date.getSeconds();}

			var hours  = date.getHours();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12;

			return monthShortNames[date.getMonth()] + " "+day + "-"+hours +":"+m+":"+s+" "+ampm+",Speed: "+this.points[0].y+", Flow: "+this.points[1].y+", Head: "+this.points[2].y;
        }
    },
    series: [{
        name: 'Speed',
        type: 'line',
		zoneAxis: 'x',
		 yAxis: 2,
        data: that.y2,
		zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
    }, {
        name: 'Flow',
        type: 'line',

		zoneAxis: 'x',
		data: that.y1,
       zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]

    }, {
        name: 'Head',
        type: 'line',
		zoneAxis: 'x',
		yAxis: 1,
        data: that.yo,
		 zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
    }]
});

		//that.seriesCustomConfig = '{"y0":{"name":"Flow","x":"timeStamp","y":"y1","yAxisUnit":"usgpm","axis":{"id":"axis1","side":"left","number":"1"}},"y1":{"name":"Head","x":"timeStamp","y":"y4","yAxisUnit":"ft","axis":{"id":"axis2","side":"left","number":"2"}},"y2":{"name":"Speed","x":"timeStamp","y":"y2","yAxisUnit":"%","axis":{"id":"axis3","side":"left","number":"3"}}}';
        //that.yCustomConfig = '{"title":"Single","titleTruncation":false,"unit":"F","axis1":{"title":"Flow","titleTruncation":false,"unit":"usgpm"},"axis2":{"title":"Head","titleTruncation":false,"unit":"ft"}, "axis3":{"title":"Speed","titleTruncation":false,"unit":"%"}}';
      }
      }
      for (i=0; i< advisoryData2.length; i++){
        if(that.advisoryId == advisoryData2[i]){
          //console.log('It is second advisory');
          criticalElement = advResponse[1].Advisory2[2];
          criticalElementFirst = criticalElement.Critical_Element;
          that.criticalElementSecond = criticalElement.Value+" min";
          document.getElementById("column2").style.display = "none";
          document.getElementById("column3").style.display = "block";
          document.getElementById("column4").style.display = "none";
		   new Highcharts.Chart(that.$.column3flowcontainerHighcharts, {

            chart: {
              type: 'line',
              zoomType: 'xy'
            },
            defs: {
              style: {
                tagName: 'style',
                textContent: '.highcharts-tooltip {}'
              }
            },
            title: {
              text: 'Power'
            },
            xAxis: {
            	 type: 'datetime',
                 categories: that.xaxis,
				<!-- tickInterval :24*3600*1000, -->
				<!-- tickInterval :12*3600*1000, -->
				 tickInterval :6*3600*1000,
				<!-- tickInterval :3*3600*1000, -->
				<!-- tickInterval :2*3600*1000, -->
				labels: {
				formatter: function() {
					return that.convertTimeStamp(this.value);
				}
			}
            },
            yAxis: {
              title: {
                text: ''
              }
            },
            series: [{
              name: 'Power',
			  <!-- pointInterval: 24*3600 * 1000, -->
			  <!-- pointInterval: 12*3600 * 1000, -->
			  <!-- pointStart: Date.UTC(2017, 9, 05, 0, 0, 0, 0),  -->
              data: that.y3,
              zoneAxis: 'x',
              zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
            }],
            tooltip: {
              shadow: true,
				formatter: function() {
            console.log(this)
            var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
				  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];

			var date = new Date(this.x);
			var h = 0;
			var m = 0;
			var s = 0;
			var month = date.getMonth()+1;
			var year = date.getFullYear();
			var day = date.getDate();

			if (date.getMinutes() < 10){
				m = '0' + date.getMinutes();}
			else{
				m = date.getMinutes();}
			if (date.getSeconds() < 10){
				s = '0' + date.getSeconds();}
			else{
				s = date.getSeconds();}

			var hours  = date.getHours();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12;

			return monthShortNames[date.getMonth()] + " "+day + "-"+hours +":"+m+":"+s+" "+ampm+",Power: "+this.y;
        }
            }
          });
        }
        }
		var advisoryDataInner = advisoryData2[2];
		for (i=0; i< advisoryDataInner.length; i++){
        if(that.advisoryId == advisoryDataInner[i]){
		 criticalElement = advResponse[1].Advisory2[2];
          criticalElementFirst = criticalElement.Critical_Element;
          that.criticalElementSecond = criticalElement.Value+" min";
          document.getElementById("column2").style.display = "none";
          document.getElementById("column3").style.display = "block";
          document.getElementById("column4").style.display = "none";
		   new Highcharts.Chart(that.$.column3flowcontainerHighcharts, {

            chart: {
              type: 'line',
              zoomType: 'x'
            },
            defs: {
              style: {
                tagName: 'style',
                textContent: '.highcharts-tooltip {}'
              }
            },
            title: {
              text: 'Power'
            },
            xAxis: {
            	 type: 'datetime',
                 categories: that.xaxis,
				 labels: {
				formatter: function() {
					return that.convertTimeStamp(this.value);
				}
			}
            },
            yAxis: {
              title: {
                text: ''
              }
            },
            series: [{
              name: 'Power',
              data: that.y3,
              zoneAxis: 'x',
              zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
            }],
            tooltip: {
              shadow: true,
	formatter: function() {
            console.log(this)
            var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
				  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];

			var date = new Date(this.x);
			var h = 0;
			var m = 0;
			var s = 0;
			var month = date.getMonth()+1;
			var year = date.getFullYear();
			var day = date.getDate();

			if (date.getMinutes() < 10){
				m = '0' + date.getMinutes();}
			else{
				m = date.getMinutes();}
			if (date.getSeconds() < 10){
				s = '0' + date.getSeconds();}
			else{
				s = date.getSeconds();}

			var hours  = date.getHours();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12;

			return monthShortNames[date.getMonth()] + " "+day + "-"+hours +":"+m+":"+s+" "+ampm+",Power: "+this.y;
        }
            }

          });
        }
        }
        for (i=0; i< advisoryData3.length; i++){
          if(that.advisoryId == advisoryData3[i]){
            //console.log('It is third advisory');
            criticalElement = advResponse[2].Advisory3[2];
            criticalElementFirst = criticalElement.Critical_Element;
            that.criticalElementSecond = criticalElement.Value+" min";
            document.getElementById("column2").style.display = "none";
            document.getElementById("column3").style.display = "none";
            document.getElementById("column4").style.display = "block";
			 new Highcharts.Chart(that.$.column4flowcontainerHighcharts, {

            chart: {
              type: 'line',
              zoomType: 'x'
            },
            defs: {
              style: {
                tagName: 'style',
                textContent: '.highcharts-tooltip {}'
              }
            },
            title: {
              text: 'Speed'
            },
            xAxis: {
            	 type: 'datetime',
                 categories: that.xaxis,
				 labels: {
				formatter: function() {
					return that.convertTimeStamp(this.value);
				}
			}
            },
            yAxis: {
              title: {
                text: ''
              }
            },
            series: [{
              name: 'Speed',
              data: that.y2,
              zoneAxis: 'x',
              zones: [{
                  value: startDots
              }, {
                  dashStyle: 'dot'
              }]
            }],
            tooltip: {
              shadow: true,
			  	formatter: function() {
            console.log(this)
            var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
				  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
				];

			var date = new Date(this.x);
			var h = 0;
			var m = 0;
			var s = 0;
			var month = date.getMonth()+1;
			var year = date.getFullYear();
			var day = date.getDate();

			if (date.getMinutes() < 10){
				m = '0' + date.getMinutes();}
			else{
				m = date.getMinutes();}
			if (date.getSeconds() < 10){
				s = '0' + date.getSeconds();}
			else{
				s = date.getSeconds();}

			var hours  = date.getHours();
			var ampm = hours >= 12 ? 'pm' : 'am';
			hours = hours % 12;
			hours = hours ? hours : 12;

			return monthShortNames[date.getMonth()] + " "+day + "-"+hours +":"+m+":"+s+" "+ampm+",Speed: "+this.y;
        }

            }
          });
          }
          }

//that.criticalElementSecond = "35 min";

   console.log(that.advisoryData);
  //  console.log(that.seriesCustomConfig);
  //  console.log(that.criticalElementSecond);
});
this.$.pumpEfficiencyAjaxEl.generateRequest();
this.$.advisoryAjaxEl.generateRequest();
this.$.aboutContentAjaxEl.generateRequest();
}
});
</script>
</dom-module>
