<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown-content.html">
<link rel="import" href="../../bower_components/px-modal/px-modal.html">
<link rel="import" href="../../bower_components/px-popover/px-popover.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<!-- <link rel="import" href="../armstrong-asset-list/armstrong-asset-list.html"> -->
<link rel="import" href="overview-view.html">
<!-- <link rel="import" href="../kpi-bar/kpi-bar.html"> -->

<dom-module id="rmd-view">
  <style>
  :host {
    --iron-icon-width: 16px;
    --iron-icon-height: 16px;
  }
  #row1{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }

  #column1{
        display:flex;
        flex-direction:column;

  }


  #column2{
        display:flex;
        flex-direction:column;
  }
  </style>
  <template>
    
    <template is="dom-if" if="{{mapsOn}}">
      <px-card header-text="Locations">
      <!-- <px-modal btn-modal-positive="OK"><button id="modalId" class='btn btn--primary modal-trigger' width="0" height="0"></button><div id="column2" style="padding: 20px;">
         <armstrong-asset-list datapoints="{{assetList}}"></armstrong-asset-list>
      </div>
          </px-modal> -->
    <google-map fit-to-marker api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc" style="width:100%;height:450px;" latitude="41.4195649" longitude="-81.6221674">
      <google-map-marker latitude="41.4195649" longitude="-81.6221674" draggable="true" click-events="true" on-google-map-marker-click="mapClicked"></google-map-marker><!-- on-google-map-marker-click="mapClicked" -->
      <google-map-marker latitude="41.4495649" longitude="-81.6321674" draggable="true" click-events="true" on-google-map-marker-click="mapClicked"></google-map-marker>
      <google-map-marker latitude="41.4295649" longitude="-81.6421674" draggable="true" click-events="true" on-google-map-marker-click="mapClicked"></google-map-marker>
    </google-map> 
    <div id="mapElement" style="position:absolute; top:200px; right:500px;"></div> 
    <px-popover id="popoverid" for="mapElement" orientation="right" enhanced>
          <div id="column2" style="padding: 20px;">
            <template id="assetList" is="dom-repeat" items="{{assetList}}">
              <div style="padding: 10px;font-weight:bold;">
              <a on-click="order" style="cursor: pointer;">[[item.name]]</a>
              </div>
            </template>
         <!-- <armstrong-asset-list datapoints="{{assetList}}"></armstrong-asset-list> -->
      </div>
    </px-popover> 
    </px-card> 
  </template>
  <template is="dom-if" if="{{!mapsOn}}">
    <overview-view asset-name="{{selected.id}}"></overview-view>
  </template>     
    <iron-ajax id="armstrongAssetAjaxEl" url="/api/v1/asset"></iron-ajax>
  
  
  </template>
  <script>
    Polymer({
      is: 'rmd-view',
      properties: {
        mapsOn : {
          type : String,
          value : "on"
        },
        selected: {
          type : Object
        }
      },
      mapClicked: function(){
        console.log("clciked");
         // this.mapsOn = null;
        this.$.armstrongAssetAjaxEl.generateRequest(); 
        document.getElementById('mapElement').click();
        //this.$.modalId.click();
      },
      _imageClicked: function(){
        console.log('clicking on factory image');
        this.$.armstrongAssetAjaxEl.generateRequest();
      },
      ready: function(){
        // set copy of 'this' for callback function use below
        var that = this;
        this.$.armstrongAssetAjaxEl.addEventListener('response', function(evt) {
          console.log(evt.detail.response);
          this.assetList = evt.detail.response;
        }.bind(this));        
        },
      order: function(e){
        console.log(e);
         var selectedItem = e.target.firstChild.data;
        var i;
        for(i=0; i<this.assetList.length;i++){
          if(selectedItem == this.assetList[i].name){
            this.selected = this.assetList[i];
          }
        }
        document.getElementById('popoverid').hide();
        console.log("hi");
        document.getElementById('contextId').value = this.selected.id;
        document.getElementById('contextName').value = this.selected.name;
        console.log(document.getElementById('contextId').value);
        window.location.hash="#/overview";
      }
    });
  </script>
</dom-module>
