<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="temp-view">
  <template>
    <style>
      .spanStyle {        
        font-weight: bolder;
        font-size: 20px;
      }
      .redColor {
        color : red;
      }
      .greenColor {
        color : green;
      }
      .orangeColor {
        color : orange;
      }
    </style>
    
    <px-card id="tempCardId" header-text="{{assetName}} Status">
      <template is="dom-if" if="{{temp}}">
      Temperature : <span id="tempSpan" class$="{{getClasses()}}">{{temp}}C</span><br>
      Battery Volatge : <span id="batterySpan" class="spanStyle greenColor">90%</span>
      </template>
    </px-card>    
    <iron-ajax id="aboutContentAjaxEl"></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'temp-view',
      properties: {
        assetName : {
          type : String,
          value : '"Gasoline_Based_Boiler_002'
        }
      },
      ready: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/api/v1/temperature";

        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          that.temp = evt.detail.response;          
        });
        this.$.aboutContentAjaxEl.generateRequest();
      },
      getClasses: function () {
        var spanStyle = 'spanStyle';
        var tempNum = parseInt(this.temp, 10);
        if(tempNum < 55){
          spanStyle += ' greenColor';
        }else if (tempNum > 65){
          spanStyle += ' redColor';
        }else {
          spanStyle += ' orangeColor';
        }
        return spanStyle;
      }
    });
  </script>
</dom-module>
